
.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 20fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "section-1"
    "section-2"
    "section-3"
    "section-4"
    "section-5"
    "section-6";
    grid-area: main;
}

.section-1 { grid-area: section-1;
    display: flex;
    min-height: 620px;
    margin-bottom: 48px;
    background-color: #EEF2F7;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/section-1.jpg");
}
.section-1__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    height: 100%;
    text-align: left;
}
.title {
    display: flex;
    font-weight: 500;
    font-size: 60px;
    line-height: 64px;
    margin-bottom: 32px;
    color: #3D4B66;
}
.subtitle {
    margin-bottom: 32px;
    width: 65%;
}
.subtitle span {
    font-weight: bold;
}
.block-consultation {
    background-color: #ffffff;
    border-radius: 20px;
    width: 250px;
    height: 145px;
    margin-bottom: 32px;
    padding: 16px;
}

.call-number_consultation {
    display: flex;
}
.consultation_title {
    margin-bottom: 16px;
    width: 100%;
}
.call-number_consultation img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.section-2 {
    grid-area: section-2;
    padding: 24px;
    margin-bottom: 48px;
}
.section-2__body {
    display: flex;
}
.section-2__block-1 {
    display: flex;
    flex-direction: column;
}
.block-1__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 32px;
}
.block-1__body {
    display: flex;
    align-items: flex-start;
    width: 70%;
    padding: 32px 32px 0 0;
}
.sector-2_link {
    display: flex;
    margin-bottom: 32px;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}
.sector-2_link img {
    margin-right: 16px;
}
.last_link {
    font-size: 16px;
    line-height: 24px;
}
.section-2__block-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 488px;
    height: 488px;
    background: #FFFFFF;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}
.block-2__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #1939DE;
    align-self: stretch;
    margin: 32px 0px;
}
.block-2__body {
    display: flex;
    align-items: center;
    color: #3D4B66;
    align-self: center;
    width: 352px;;
}
.section-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "section-3__block-1 section-3__block-2";
    grid-area: section-3;
    background: #EEF2F7;
    }

.section-3__block-1 { grid-area: section-3__block-1; }

.section-3__block-2 { grid-area: section-3__block-2; }

.section-4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "title"
    "section-4__block-1"
    "title-2"
    "sub-title"
    "section-4__block-2";
    grid-area: section-4;
}

.title { grid-area: title; }

.section-4__block-1 { grid-area: section-4__block-1; }

.title-2 { grid-area: title-2; }

.sub-title { grid-area: sub-title; }

.section-4__block-2 { grid-area: section-4__block-2; }

.section-5 { grid-area: section-5;
    display: flex;
    min-height: 672px;
    margin-bottom: 48px;
    background-color: #EEF2F7;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/section-5.jpg);
}
.section-5__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    height: 100%;
    text-align: left;
}
.price {
    font-weight: bold;
    font-size: 100px;
    line-height: 117px;
    color: #1939DE;
}
.subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.text {
    font-size: 18px;
    line-height: 24px;
    width: 65%;
}
.text span {
    font-weight: bold;
}
.section-6 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "block-1__title"
    "section-6__body";
    grid-area: section-6;
}

.block-1__title { grid-area: block-1__title;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section-6__body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "your-data"
    "convict-data"
    "submit-application";
    grid-area: section-6__body;
    width: 864px;
    height: 1168px;
    border: #9299A2;
}

.your-data { grid-area: your-data; }

.convict-data { grid-area: convict-data; }

.submit-application { grid-area: submit-application; }




/*.content {*/

/*}*/
/*.section-1 {*/
/*    display: flex;*/
/*    width: 100%;*/
/*    margin-bottom: 50px;*/
/*    justify-content: space-between;*/
/*    background: url(../img/headerBG.jpg) 0 0/100% 100% no-repeat;*/
/*}*/
/*.section-1__block {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    padding: 140px 70px;*/
/*}*/
/*.section-1__body {*/
/*    display: flex;*/
/*    margin: 0 20px 0 0;*/
/*    width: 100%;*/
/*    padding: 20px 0 0 0;*/
/*    flex-direction: column;*/
/*}*/

/*.section-1__body_title {*/
/*    font-size: 48px;*/
/*    font-weight: 700;*/
/*    line-height: 124%;*/
/*    text-align: left;*/
/*    margin: 0 0 20px 0;*/
/*}*/
/*.section-1__body_text {*/
/*    font-size: 20px;*/
/*    line-height: 124%;*/
/*    text-align: left;*/
/*    padding: 0 0 20px 0;*/
/*}*/
/*.section-1__body_buttons {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    font-size: 17px;*/
/*    font-weight: bold;*/
/*    line-height: 124%;*/
/*}*/
/*.btn__app-store {*/
/*    display: flex;*/
/*    height: 53px;*/
/*    width: 200px;*/
/*    padding:0 20px;*/
/*    margin: 0 10px 10px 0;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    border: 2px solid #fff;*/
/*    border-radius: 50px;*/
/*}*/
/*.btn__app-store:hover {*/
/*    background-color: #ffffff;*/
/*    color: #A658DB;*/
/*}*/
/*.btn__app-store:hover path {*/
/*    fill: #A658DB;*/
/*}*/
/*.btn__play-market {*/
/*    display: flex;*/
/*    height: 53px;*/
/*    width: 200px;*/
/*    padding:0 20px;*/
/*    margin: 0 10px 10px 0;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    border: 2px solid #fff;*/
/*    border-radius: 50px;*/
/*}*/
/*.btn__play-market:hover {*/
/*    background-color: #ffffff;*/
/*    color: #A658DB;*/
/*}*/
/*.btn__play-market:hover path {*/
/*    fill: #A658DB;*/
/*}*/
/*.section-1__img {*/
/*    max-width: 646px;*/
/*    max-height: 776px;*/
/*    min-width: 290px;*/
/*}*/
/*.section-2 {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    margin: auto;*/
/*}*/
/*.section-2__title {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    color: #000000;*/
/*}*/
/*.section-2__title_header {*/
/*    font-size: 46px;*/
/*    margin-bottom: 35px;*/
/*}*/
/*.section-2__title_text {*/
/*    font-size: 18px;*/
/*    color: #ABABAB;*/
/*    line-height: 124%;*/
/*    margin-bottom: 90px;*/
/*}*/
/*.section-2__body {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    padding: 10px;*/
/*    color: #000000;*/
/*}*/
/*main .h3 {*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    font-size: 22px;*/
/*    line-height: 124%;*/
/*    color: #000000;*/
/*    margin: 0 0 20px 0;*/
/*}*/
/*main .paragraph {*/
/*    font-size: 18px;*/
/*    line-height: 124%;*/
/*    color: #B0B0B0;*/
/*}*/
/*.link_img {*/
/*    border: 1px solid #8253D8;*/
/*    border-radius: 90px;*/
/*    background: linear-gradient(180deg, #8253D8 0%, #D05DDE 100%);*/
/*    width: 90px;*/
/*    height: 90px;*/
/*    display: flex;*/
/*    width: 100%;*/
/*}*/
/*.section-2__body__list1 {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-around;*/
/*    width: 100%;*/
/*}*/
/*.section-2__body__list1 img{*/
/*    width: 35px;*/
/*    height: 35px;*/
/*    margin: auto;*/
/*}*/
/*.s2-b-l1__link1 {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/
/*.s2-b-l1__link1 .link1_text {*/
/*    text-align: right;*/
/*    padding: 0 20px;*/
/*}*/
/*.s2-b-l1__link2 {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/
/*.s2-b-l1__link2 .link2_text {*/
/*    text-align: right;*/
/*    padding: 0 20px;*/
/*}*/
/*.s2-b-l1__link3 {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-around;*/
/*}*/
/*.s2-b-l1__link3 .link3_text {*/
/*    text-align: right;*/
/*    padding: 0 20px;*/
/*}*/
/*.section-2__body__list2 {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*}*/
/*.section-2__body__list2 img{*/
/*    min-width: 35px;*/
/*    min-height: 35px;*/
/*    margin: 24px auto;*/
/*}*/
/*.s2-b-l2__link1 {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-around;*/
/*}*/
/*.s2-b-l2__link1 .link1_text {*/
/*    text-align: left;*/
/*    padding: 0 20px;*/
/*}*/
/*.s2-b-l2__link2 {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-around;*/
/*}*/
/*.s2-b-l2__link2 .link2_text {*/
/*    text-align: left;*/
/*    padding: 0 20px;*/
/*}*/
/*.s2-b-l2__link3 {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-around;*/
/*}*/
/*.s2-b-l2__link3 .link3_text {*/
/*    text-align: left;*/
/*    padding: 0 20px;*/
/*}*/
/*.section-2__body_img {*/
/*    margin: 10px 0;*/
/*    max-width: 438px;*/
/*    max-height: 886px;*/
/*    height: 100%;*/
/*    padding: 10px 0;*/
/*}*/
/*@media (max-width: 530px) {*/
/*    .content {*/
/*    }*/
/*}*/
/*@media (min-width: 1280px) {*/
/*    .section-1__body_title,.section-1__body_text,.section-1__body_buttons{*/
/*        width: 70%;*/
/*    }*/
/*}*/