.footer { grid-area: footer;
    display: flex;
    margin-top: 20px;
    width: 100%;
    min-height: 100px;
    align-items: center;
    color: #3D4B66;
    background: #EEF2F7;
}

.license {
    display: flex;
    justify-content: flex-start;
    line-height: 18px;

}