.container {
    max-width: 1590px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    letter-spacing: -0.2px;
}
.social-link {
    display: flex;
    justify-content: center;
    margin: 0 10px 10px 0;
}
.social-link:hover path {
    fill: #ffffff;
}
.social-link:hover ellipse {
    fill: #8754D9;
}
@media (max-width: 1920px) {
    .container {
        max-width: 1590px;
    }
}
@media  (max-width: 1600px) {
    .container {
        max-width: 1420px;
    }
}
@media (max-width: 1440px) {
    .container {
        max-width: 1280px;
    }
}
@media (max-width: 1300px) {
    .container {
        max-width: 1140px;
    }
}
@media (max-width: 1260px) {
    .container {
        max-width: 1020px;
    }
}
@media (max-width: 1140px) {
    .container {
        max-width: 970px;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 850px;
    }
    .section-1__block {
        flex-direction: column;
        align-items: center;
    }

    .section-1__body {
        margin: 0;
    }

    .section-1__body_title, .section-1__body_text {
        text-align: center;
        padding: 0;
    }

    .section-1__body_buttons {
        flex-direction: column;
        align-items: center;
    }

    .section-2__body {
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .s2-b-l1__link1 .link1_text {
        text-align: left;
    }
    .s2-b-l1__link2 .link2_text {
        text-align: left;
    }
    .s2-b-l1__link3 .link3_text {
        text-align: left;
    }
    .section-2__body__list1 {
        min-width: 100%;
    }
    .section-2__body__list2 {
        min-width: 100%;
    }
    .s2-b-l1__link1 {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
    }
    .s2-b-l1__link2 {
        display: flex;
        flex-direction: row-reverse;
    }
    .s2-b-l1__link3 {
        display: flex;
        flex-direction: row-reverse;
    }
    .s2-b-l2__link1 {

    }
    .s2-b-l2__link2 {

    }
    .s2-b-l2__link3 {

    }
    .footer__link {
        flex-direction: column;
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 710px;
    }
}
@media (max-width: 556px) {
    .container {
        max-width: 500px;
    }
}
@media (max-width: 375px) {
    .container {
        max-width: 335px;
    }
}
/*Bootstrap 4 Grid*/
/*@media (max-width: 768px) {*/
/*    .container {*/
/*        max-width: 540px;*/
/*    }*/
/*}*/
/*@media (max-width: 576px) {*/
/*    .container {*/
/*        max-width: none;*/
/*        margin: 0 15px;*/
/*    }*/
/*}*/

/*Mobile First*/
/*.container {*/
/*    display: flex;*/
/*    width: 100%;*/
/*    max-width: none;*/
/*    margin: 0 15px;*/
/*}*/

/*@media (min-width: 768px) {*/
/*    .container {*/
/*        max-width: 720px;*/
/*    }*/
/*}*/

/*@media (min-width: 992px) {*/
/*    .container {*/
/*        max-width: 960px;*/
/*        margin: 0 auto;*/
/*    }*/
/*}*/

/*@media (min-width: 1200px) {*/
/*    .container {*/
/*        max-width: 1140px;*/
/*        margin: 0 auto;*/
/*    }*/
/*}*/