.header {
    grid-area: header;
    background-color: #1995AD;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    width: 50px;
    margin: auto 0 ;
    padding: 5px;

}
.loginBlock {
    margin: auto 0 ;
    padding: 5px;
}

@media (prefers-reduced-motion: no-preference) {
    .headerLogo {
        animation: Header-logo-spin infinite 20s linear;
    }
}

@keyframes Header-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}